@import "tailwindcss";

/* app/globals.css */
@font-face {
  font-family: 'Digital-7';
  src: url('/fonts/digital-7.ttf') format('truetype');
  font-display: swap;
}

body {
  background: black;
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
}